<nav id="nav">
    <div class="inner-wrapper">
        <svg viewBox="0 0 32 37" id="exit-btn">
            <path
                id="back"
                d="M15.9,4.492a3,3,0,0,1,5.194,0L34.4,27.5A3,3,0,0,1,31.8,32H5.2a3,3,0,0,1-2.6-4.5Z"
                transform="translate(0 37) rotate(-90)"
                fill="black"
            />
        </svg>
        <p>Ghibli Wallpapers is designed and maintained by Saul Graves.</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/about">About</a></li>
        <li>
            <a
                target="_blank"
                href="https://github.com/DarthSaul/ghibli-wallpapers"
                class="git-link"
            >
                <img
                    src="https://res.cloudinary.com/darthsaul/image/upload/v1633385451/GitHub-Mark-64px_ksihkj.png"
                    alt="git"
                    class="git-icon"
                />
                <span class="git-text">View the Code</span>
            </a>
        </li>
    </ul>
</nav>
