<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ghibli Wallpapers</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/search.css" />
        <link rel="stylesheet" href="/css/about.css" />
    </head>
    <body>
        <%- include('../partials/header') %>
        <!--  -->
        <%- include('../partials/navbar') %>
        <!--  -->
        <%- body %>

        <script src="/js/index.js"></script>
        <script src="/js/FileSaver.min.js"></script>
        <script src="/js/imageDownload.js"></script>
    </body>
</html>
