<% layout('./layouts/boilerplate')%>

<div class="about-wrapper">
    <h1>About Saul</h1>
    <p>
        I saw <i>Princess Mononoke</i> for the first time when I was
        eight-years-old. After watching an infinite amount of other films, the
        1997 anime classic from Studio Ghibli remains my favorite.
    </p>
    <p>
        This website was created for those who share my obsession for Studio
        Ghibli films and the genius of Hayao Miyazaki. It is also for my fellow
        computer nerds who spend way too much time picking the right desktop
        wallpaper. I, along with countless others, have found that
        illustrations, stills, and other digital art derived from the Studio
        Ghibli library are a perfect match for a wonderful wallpaper. Enjoy!
    </p>
</div>
